*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.main_div{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(206, 207, 151) , rgb(138, 209, 191) , rgb(114, 114, 180));
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    width: 40%;
    margin-top: 10%;
    margin-right: 5%;
}

.content h3{
    color: rgb(180, 157, 239);
    font-size: 22px;
}

.content h2{
    color: rgb(71, 75, 125);
    font-size: 42px;
    font-weight: 700;
    margin-left: 5%;
}

img{
    margin-left: 17%;
}
.content h6{
    color: rgb(51, 52, 51);
    font-size: 13px;
    margin-left: 4%;
}

.content h5{
    color: rgb(52, 51, 51);
    font-size: 13px;
    margin-left: 69%;
}

.center_div{
    margin-top: 5%;
    width:30%;
    height:80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
}

h1{
    color: white;
    background: transparent;
    background-color: #e93d34;
    padding: 6px 0 2px 0;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

input{
    text-align: center;
    height: 30px;
    top:10px;
    border:none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width:60%;
    border-radius: 2px solid #8566aa;
    outline : none;
}

button{
    min-height: 26px;
    width: 46px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #7008ee;
    color: #fff;
    font-size:35px;
    border:none;
    outline:none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

button:hover{
    background-color: #b60be1;
}

ol{
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

ol li{
    padding-left: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: rgb(5, 13, 244);
    text-transform: capitalize;
    margin-left: 20%;
}

.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .fa-times{
    width: 20px;
    height:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de5b5b;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.todo_style .fa-times:hover{
    background-color: red;
}

.todo_style .fa-times:hover .list_style{
    color: crimson;
}